# IDE support
.idea
.vscode
/compile_flags.txt

# Python
__pycache__

# Astro source code, but not the test sources
/src/**/*.asx
!/src/compiler/test_sources/**

# Virtual machine stuff
/src/avm/build
